body {
	overflow-y: hidden;
	font-family: 'Roboto';
	background: #24292e;
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans';
	font-weight: normal;
	margin: 0;
}
a, a:hover, a:visited {
	color: white;
	text-decoration: none;
}

#sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 192px;
}

#container {
	position: absolute;
	left: 192px;
	top: 0;
	bottom: 0;
	right: 0;
}

header, footer {
	padding: 11px;
}

section {
	background: white;
	color: black;
	display: none;
	padding: 16px;
	border-radius: 16px 0 0 16px;
	overflow-y: auto;
}
section a {
	color: black !important;
	text-decoration: underline !important;
}

footer {
	text-align: right;
	font-size: 11px;
}

.nav {
	padding: 4px 8px;
}

.flag {
	width: 48px;
	border-radius: 8px;
}

@media screen and (max-width: 840px) {

	#sidebar {
		left: -192px;
	}
	
	#container {
		left: 0;
	}
	
	section {
		border-radius: 0;
	}

}
